/SportInfo-Back/.vs/*
/SportInfo-Back/SportInfo-Back/obj/*
/SportInfo-Back/.vs/SportInfo-Back/v17/.suo
/SportInfo-Back/SportInfo-Back/obj/Debug/net8.0/SportInfo-Back.AssemblyInfo.cs
/SportInfo-Back/SportInfo-Back/obj/Debug/net8.0/SportInfo-Back.AssemblyInfoInputs.cache
/SportInfo-Back/SportInfo-Back/obj/Debug/net8.0/SportInfo-Back.assets.cache
/SportInfo-Back/SportInfo-Back/obj/Debug/net8.0/SportInfo-Back.csproj.AssemblyReference.cache
/SportInfo-Back/SportInfo-Back/obj/Debug/net8.0/SportInfo-Back.GeneratedMSBuildEditorConfig.editorconfig
/SportInfo-Back/SportInfo-Back/obj/project.assets.json
/SportInfo-Back/SportInfo-Back/obj/project.nuget.cache
/SportInfo-Back/SportInfo-Back/obj/SportInfo-Back.csproj.nuget.dgspec.json
/SportInfo-Back/SportInfo-Back/obj/SportInfo-Back.csproj.nuget.g.props
/SportInfo-Back/obj/*
/SportInfo-Back/SportInfo-Back/obj/SportInfo-Back.csproj.nuget.g.targets
